page-subprodutos {

    .card{
        background-color: #135F8C;  
        color: white;
    }
    .redcard{  
        color: rgb(41, 248, 23);
    }
    .titulo{
        font-weight: bold;
        color: #135F8C; 
    }
    .conteudo{ 
        color: black; 
    }

}
